.nav {
    background-color: #003580;
    color: white;
    padding: 0.5rem 0;
    &__btn {
        padding: 0.25rem;
        // margin: 1rem;
        color: #5186a2;
    }
    &__gap {
        gap: 0.75rem;
    }
    &__submitted {
        padding: 0.75rem;
        background-color: #0071c2;
        border: none;
        color: white;
        max-width: 8rem;
    }
}
